@import "tailwindcss";

:root {
  --primary: purple;
  --secondary: gold;
  --primary-light: violet;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply bg-gray-200 rounded-2xl border border-gray-500 shadow-lg;
}

.input {
  @apply w-full bg-gray-200 border border-gray-700 rounded-xl px-4 py-3 text-black outline-none focus:border-(--primary);
}

.btn-primary {
  @apply bg-(--primary) hover:bg-(--primary-light) text-white transition-all duration-300 rounded-xl px-5 py-3 font-semibold;
}