@import "tailwindcss";

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply bg-gray-200 rounded-2xl border border-gray-500 shadow-lg;
}

.input {
  @apply w-full bg-gray-200 border border-gray-700 rounded-xl px-4 py-3 text-black outline-none focus:border-blue-500;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white transition-all duration-300 rounded-xl px-5 py-3 font-semibold;
}